<div class="nested-fields">
      <%= f.label :name, value:"Nombre Categoria", style: "display: block" %>
      <%= f.text_field :name %>
      <%= link_to_remove_association "Eliminar categoria", f %>
</div>
