<div id="<%= dom_id pethistory %>">
  <p>
    <strong>Weight:</strong>
    <%= pethistory.weight %>
  </p>

  <p>
    <strong>Height:</strong>
    <%= pethistory.height %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= pethistory.description %>
  </p>

</div>
