<h1>Editing pethistory</h1>

<%= render "form", pethistory: @pethistory %>

<br>

<div>
  <%= link_to "Show this pethistory", @pethistory %> |
  <%= link_to "Back to pethistories", pethistories_path %>
</div>
