<div class="bg bg-secondary text-light justify-content-center text-center">

  <h1>Editar Mascota</h1>

  <%= render "form", pet: @pet %>

  <br>

  <div>
    <%= link_to "Show this pet", @pet %> |
    <%= link_to "Back to pets", pets_path %>
  </div>

</div>
