
<% if @post.errors.any? %>
    <div id="error_explanation">
        <h2>
        
        <%= pluralize(@post.errors.count, 2error') %>
            impide(n) que el registro sea agregado:
        </h2>
        <ul style="list-style: none;">
            <% @post.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
    <% else %>
        <h1>Post Creado Correctamente</h1>
<% end %>

