
<!-- <h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>
-->
<h1> Primer formulario </h1>


<form method="get" action="/pages/create">

    <div class="form-group">
        <label for="email">eCorreo</label>
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Ingrese email">
        <br>
        <small id="emailHelp" class="form-text text-muted">Nunca compartiremos su email con otras personas/empresas.</small>
    </div>

    <div class="form-group">
        <label for="age">Edad</label>
        <input name="age" type="number" class="form-control">
    </div>

    <div class="form-group">
        <label for="comment">Comentario</label>
        <textarea name="comment" class="form-control"> </textarea>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

</form>


<!-- 
    Email: <input name="email">
Edad:  <input name="age" type="number">
Comentario: <textarea name="comment"> </textarea>
<input type="submit" value="Enviar">
</form>


<form>
    <%=params[:nombre];'NOMBRE'%>
    <br>
    <input name="nombre" value="nom">
     <br>
     <%=params[:email];'EMAIL'%>
      <br>
    <input name="email" value="em">
    <input type="submit" value="Enviar">
</form>

<br>
<br>
<br>
<input value="hola"> </input>
<br>
<br>
<br>
<input type="password" value="hola"> </input>
<br>
<br>
<br>
<input type="radio"> </input>
<br>
<br>
<br>
<input type="checkbox"> </input>
<br>
<br>
<br>
<select> 
    <option value="hola"> Opci칩n 1 </option> 
    <option value="hola"> Opci칩n 2 </option> 
    <option value="hola"> Opci칩n 3 </option> 
</select>
<br>
<br>
<br>
<textarea> </textarea>
<br>
<br>
<br>
<input name='ejemplo' value='hola mundo'> </input>
<br>
<br>
<br>
Veamos un ejemplo en el que crearemos una mini calculadora usando un formulario. Para
esto modificaremos por un momento nuestro formulario dejando los dos inputs. Donde
cada input ser치 un valor que se sume al otro:


<h1> El resultado de la suma es:
<br>
<%= params[:x].to_i + params[:y].to_i %>
</h1>
<form method="get" action="/pages/create">
    <input name="x">
    <input name="y">
    <input type="submit" value="Enviar">
</form>



<br>
<br>
<br>

