
<!-- <h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>
-->
<h1> Formulario </h1>

<form method="get" action="/pages/create">


    <div class="form-group">
        <label for="name">Nombre y Apellido </label>
        <br>
        <input name="name" type="text" class="form-control" id="name" aria-describedby="nameHelp" placeholder="Ingrese nombre">

        <label for="last_name">
            <input name="last_name" type="text" class="form-control" id="last_name" aria-describedby="nameHelp" placeholder="Ingrese apellido">
        <br><br>
    </div>

    <div class="form-group">
        <label for="email">Email</label>
        <br>
        <input name="email" type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Ingrese email">
        <br>
        <small id="emailHelp" class="form-text text-muted">
        Nunca compartiremos su email<br>con otras personas/empresas.</small>
        <br><br>
    </div>

    <div class="form-group">
        <label for="age">Edad</label>
        <br>
        <input name="age" type="number" class="form-control">
        <br><br>
    </div>

    <div class="form-group">
        <label for="comment">Comentario</label>
        <br>
        <textarea name="comment" class="form-control"> </textarea>
    </div>

    <button type="submit" class="btn btn-primary">Enviar</button>

</form>


<!-- 
Email: <input name="email">
Edad:  <input name="age" type="number">
Comentario: <textarea name="comment"> </textarea>
<input type="submit" value="Enviar">
</form>


<form>
    <%=params[:nombre];'NOMBRE'%>
    <br>
    <input name="nombre" value="nom">
     <br>
     <%=params[:email];'EMAIL'%>
      <br>
    <input name="email" value="em">
    <input type="submit" value="Enviar">
</form>

<input type="password" value="hola"> </input>
<br>
<input type="radio"> </input>
<br>
<input type="checkbox"> </input>
<br>
<select> 
    <option value="hola"> Opci칩n 1 </option> 
    <option value="hola"> Opci칩n 2 </option> 
    <option value="hola"> Opci칩n 3 </option> 
</select>

Veamos un ejemplo en el que crearemos una mini calculadora usando un formulario. Para
esto modificaremos por un momento nuestro formulario dejando los dos inputs. Donde
cada input ser치 un valor que se sume al otro:


<h1> El resultado de la suma es:
<br>
<%= params[:x].to_i + params[:y].to_i %>
</h1>
<form method="get" action="/pages/create">
    <input name="x">
    <input name="y">
    <input type="submit" value="Enviar">
</form>
