
        <div class="nested-fields">
          <div class="field">
              <%= form.label :name, style: "display: block" %>
              <%= form.text_field :name %>
              <%= link_to_remove_association "Eliminar Integrante", f %>
            </div>
        </div>

