
        <div class="nested-fields">
          <div class="field">
              <%= f.label :name, style: "display: block" %>
              <%= f.text_field :name %>
              <%= link_to_remove_association "Eliminar Integrante"
            </div>
        </div>

