<h1>Editar Grupo</h1>

<%= render "form", group: @group %>

<br>

  <div class="d-flex flex-row  justify-content-around">
    <div class="p-2"><%= button_to "Mostrar este Grupo", @group, method: :get  %>  </div>
    <div class="p-2"><%= button_to "Volver a Grupos", groups_path, method: :get %></div>

    <div class="p-2">      
    <%= button_to "Eliminar", concert_path(@group), method: :delete, class: "btn btn-danger btn-sm", data: { confirm: "Are you sure?" }, :html => { :method => :delete, :remote => true}, onclick: "return confirmDestroy('Seguro que desea eliminar el Libro seleccionado?')"%>
    </div>
</div>

<script>
function confirmDestroy(message) {
  if (!confirm(message)) {
    return false;
  }
}
</script>

