<p style="color: green"><%= notice %></p>



<div class="row">
    
    <div class="col-10 d-flex justify-content-start ">
      <h1>Grupos</h1>
    </div>

    <%= link_to "Crear grupo", new_group_path, class:"btn  btn-sm btn-outline-success justify-content-end col-2 "%>
</div>

<br>
<hr max_width=100%  size=5   noshade="noshade">
<div id="groups">
  <% @groups.each do |group| %>
    <%= render group %>

  <% end %>
</div>





