<!-- app/views/greetings/say_hello.html.erb -->
<form action="/greetings" method="post">
    <label for="name"></label>
    <input name="name" id="name" type="text" placeholder="Ingresa tu
    nombre"/>
    <br />
    <input type="submit" name="submit" value="Saludar"/>
</form>