<h1>Editing wine oenologist</h1>

<%= render "form", wine_oenologist: @wine_oenologist %>

<br>

<div>
  <%= link_to "Show this wine oenologist", @wine_oenologist %> |
  <%= link_to "Back to wine oenologists", wine_oenologists_path %>
</div>
