<p style="color: green"><%= notice %></p>

<h1>Due単os</h1>
<%= link_to "Crear Due単o", new_holder_path %>
<br>
<br>

<div id="holders">
<table class="table table-light table-stripped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Fono</th>
      <th scope="col">Direccion</th>
      <th scope="col">eMail</th>
      <th scope="col">Mascotas</th>
      <th scope="col">Ficha Due単o</th>
    </tr>
  </thead>
  <tbody>
        <% numh = 1 %>
    <% @holders.each do |holder|%>
    <tr>
        <td><%= numh %></td>

        
        <td><%= link_to "Due単o", holder_path(holder)%></td>   
    </tr>
    <% numh += 1 %>
    <% end %>  
  <tbody>
</table>
</div>

