<div class="row">
    <div class="col-4">
        <p class="color text-center">© <%= Time.now.strftime("%Y") %> BOZ.</p>
        <p class="color text-center">Todos los derechos reservados.</p>
    </div>

    <div class="col-8 d-flex justify-content-end">
		<li class="nav-item none">
            <a href="https://www.facebook.com" target="_blank">
			    <i class="fa-brands fa-facebook-square fa-2x color" style="margin: 15px;" title="Facebook"></i>
            </a>
        </li>
        <li class="nav-item none">
            <a href="https://www.instagram.com" target="_blank">
			    <i class="fa-brands fa-instagram-square fa-2x color" style="margin: 15px;" title="Instagram"></i>
            </a>
        </li>
    	<li class="nav-item none">
            <a href="https://www.twitter.com" target="_blank">
			    <i class="fa-brands fa-twitter-square fa-2x color" style="margin: 15px;" title="Twitter"></i>
            </a>
        </li>	
    </div>
</div>