<h1>Editing oenologist magazine</h1>

<%= render "form", oenologist_magazine: @oenologist_magazine %>

<br>

<div>
  <%= link_to "Show this oenologist magazine", @oenologist_magazine %> |
  <%= link_to "Back to oenologist magazines", oenologist_magazines_path %>
</div>
