<h1>Editar historial médico</h1>

<%= render "form", pethistory: @pethistory %>

<br>

<div>
  <%= link_to "Mostrar este historial", @pethistory %> |
  <%= link_to "Listado de historiales", pethistories_path %>
</div>
