<h1>Mostrar</h1>
<%= render @product %>
<div>
  <%if @product.user_id==current_user.id%>
    <%= link_to "Edit this product", edit_product_path(@product),class:"lk-boz" %> |
  <%end%>  
  <%= link_to "Back to products", products_path,class:"lk-boz" %>
  <%if @product.user_id==current_user.id%>
    <%= button_to "Destroy this product", @product, method: :delete,class:"btn btn-boz" %>
  <%end%>
</div>
