
<p style="color: green"><%= notice %></p>

<hr max_width=100%  size=5   noshade="noshade">
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">

  <div class="container-fluid ">
      <div class="col d-flex justify-content-start col-6 text-success", style="font-weight:bold;font-size:20px;">
      <h2>Mascotas</h2>
      </div>
      <div class="col d-flex justify-content-end col-3 ">
        <%= link_to "Crear Mascota", new_pet_path, class:"btn  btn-sm btn-small btn-outline-success d-flex align-self-center justify-content-around col-6 "%> 
      </div>
  </div>

</nav>

<hr max_width=100%  size=5   noshade="noshade">
<br>

<div id="pets" class=" text-center row row-cols-4 ">
  <% @pets.each do |pet| %>
    <%= render pet %>
  <% end %>
</div>

