<nav class="navbar navbar-expand-lg" >
    <div class="container-fluid bg-info bg-gradient">
        <%= link_to 'Gestor de Proyectos', root_path, class: 'nav-link' %>
        <button class="bg-onfobg-gradient" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav v-align-middle text-center bg-info bg-gradient ">
            <a class="nav-link border border-light rounded-pill active text-light" aria-current="page" href="/proys/crear"> Crear Proyecto </a>
            <a class="nav-link border border-light rounded-pill text-light" href="/proys/hist">Historial Proyectos</a>
        </div>
    </div>
    </div>
</nav>