
<div class="container  bg-info bg-gradient  text-white">
    <br><br>
    <h1>Gestor de Proyectos<h1>
    <br>
    <h5>Este sitio permite el ingreso al registro de proyectos.</h5>
    <br>
    <h5>Si desea crear un registro de proyecto selecione 'Crear Proyecto' luego de  ingresar al formulario, debe registrar toda la información requerida del proyecto, una vez se realizado esto, se debe dar clic en Guardar.</h5>
    <br>
    <h5>Para ver todos los proyectos seleccione 'Historial Proyectos'.</h5>
    <h5>Si desea buscar por 'estado' de los Proyectos seleccione 'Buscar'.</h5>
    <br><br>