<table class="table" width="50%" bordercolor="#000000" style= (border:1, align="center")>
    <tr>
    <td>Email</td>
    <th></th>
    <th>Edad</th>
    <th></th>
    <td>Comentario</td>
    </tr>
    <% @users.each do |user| %>
        <tr>
        <td><%= user.email %> </td>
        <th></th>
        <th><%= user.age %> </th>
        <th></th>
        <th><%= user.comment %> </th>
        </tr>
    <% end %>
    </table>