<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>
<h1> Nuestro primer formulario </h1>
<form>
<input name="email">
<input type="submit" value="Enviar">
</form>

<br>
<input value="hola"> </input>
<br>
<input type="password" value="hola"> </input>
<br>
<input type="radio"> </input>
<br>
<input type="checkbox"> </input>
<select> <option value="hola"> Opción 1 </option> </select>
<textarea> </textarea>